*.DS_Store
*/*.DS_Store
*/*/*.DS_Store
*/datasets/
*/checkpoints/
*/results/
*/models/flownet2*/networks/*/*egg-info
*/models/flownet2*/networks/*/build
*/models/flownet2*/networks/*/__pycache__
*/models/flownet2*/networks/*/dist
*/build/
*/*/**/__pycache__
*~
.ipynb_checkpoints/
*/*/*.pyc
*/*/**/*.pyc
*/*/**/**/*.pyc
*/*/**/**/**/*.pyc
*/*/**/**/**/**/*.pyc
*/*/*.so*
*/*/**/*.so*
*/*/**/*.dylib*
